
/* Search Criteria */
.searchCriteriaBox {
    margin-bottom: 12px;
}


.configSelectBoxTop2.configSelectBoxTop2{
    margin-top: 10px;
}



/* Transfer Money CSS */

.remitter-Search {
    border-radius: 8px;
    background-color: var(--color-light-blue);
    border: 1px solid var(--color-border-default);
    padding: 12px;
}

.remitter-SearchField {
    display: flex;
    align-items: center;
}


.has-search.hasTerminal-Search .form-control {
    width: 220px;
    height: 32px;
    border-color: var(--color-border-default);
    padding-left: 12px;
    font-family: "Inter";
    font-size: var(--font-size14);
    letter-spacing: 0.02em;
    color: var(--color-black);
    background-color: var(--background-white);
}


.has-search:first-child {
    margin-right: 6px;
}


.inputArea {
    height: 64px;
    overflow-y: auto;
    resize: none;
    color: var(--color-black);
}

.emptyfield {
    display: none;
    width: 100%;
}

/* Box css */
.configSelectBoxTop2 .clientNameSelect {
    margin-bottom: 12px;
}

.configSelectBoxTop {
    margin-top: 8px;
    padding: 0 6px;
}



.concRegistrationgrid .col {
    width: 25%;
    padding: 0 6px;
    margin-bottom: 12px;
}

.concRegistrationgrid .col6 {
    width: 50%;
    padding: 0 6px;
    margin-bottom: 12px;
}


@media(max-width:768px) {

    .concRegistrationgrid .col {
        width: 33.33%;
        padding: 0 6px;
        margin-bottom: 12px;
    }

    .emptyfield {
        display: block;
        width: 100%;
    }

}

@media(max-width:767px) {

    /* new issue Css */
    .has-search.hasTerminal-Search .form-control {
        width: 24vw;
    }
}

@media(max-width:615px) {

    /* new issue Css */
    .has-search.hasTerminal-Search .form-control {
        width: 100%;
    }


}

@media(max-width:500px) {


    .concRegistrationgrid .col {
        width: 100%;
        padding: 0 6px;
        margin-bottom: 12px;
    }

    .concRegistrationgrid .col6 {
        width: 100%;
        padding: 0 6px;
        margin-bottom: 12px;
    }

}

@media(max-width:425px) {

    .remitter-SearchField {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .has-search.hasTerminal-Search .form-control {
        width: 100%;

    }

    .full-width {
        width: 100%;
    }

    .searchFieldsBtns {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 12px;
    }

    /* .has-search:first-child {
        margin-right: 0px;
        margin-bottom: 12px;
    } */


    .searchFieldsBtns {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 12px;
    }

    .terminalBtns{
        display: flex;
        flex-direction: column;
    }

    .terminalBtns button{
        margin: 0px !important;
        width: 100% !important;
    }
    .terminalBtns button:not(:last-child){
        margin-bottom: 12px !important;
    }

}

